@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

*{
    scroll-behavior: smooth !important;
}

body {
    background-color: #242424;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (max-width: 728px) {
        height: 120vh;
    }

    @media (max-width: 576px) {
        height: 125vh;
    }

    .content {
        padding: 0rem 4rem;

        @media (max-width: 728px) {
            padding: 0rem 2rem;
        }

        .my-picture {
            border-radius: 100%;
            margin: 0 auto;
            display: block;
            width: 150px;
            height: 150px;

            @media (max-width: 728px) {
                width: 100px;
                height: 100px;
            }
        }

        .primary-btn {
            margin: 0 auto;
            display: block;
        }
    }
}


.second-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    @media (max-width: 728px) {
        height: 120vh;
    }

    p {
        @media (max-width: 728px) {
            margin-top: 3rem;
        }
        text-decoration: underline;
    }

    .grid-timeline {
        display: grid;
        grid-template-columns: 2fr 2fr;

        @media (max-width: 728px) {
            grid-template-columns: 1fr;
        }

        div {
            padding: 5rem;
            display: flex;
            flex-direction: column;
            text-align: center;

            @media (max-width: 728px) {
                padding: 2rem 0;
            }
        }

        img:hover {
            opacity: .3;
            transition: .3s;
            cursor: pointer;
        }
    }
}

.center {
    display: block;
    margin: 0 auto;
}

@import '../node_modules/bulma/bulma.sass'
